*.iml
/server/.idea/*
/server/project/target/*
/server/project/project/*
/server/target/*
/server/multislider-log.txt
/client/build/*
/sample/build/*
/client/build_vc9/*
/sample/build_vc9/*
/watchdog/.idea
/watchdog/logs/*
/watchdog/target/*
/watchdog/project/*
